h1{
  text-align: center;
  color: red;
}

body{
  margin: auto;
  padding: 20px;
  width: 400px;
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

img{
  border: 5px solid black;
}

html{
  background-color: rgb(222, 0, 0);
}

.underlined{
  text-decoration: underline;
}

.italics{
  font-style: italic; 
}

.bold{
  font-weight: bold;
}

.colorChange:hover{
  color: violet;
  font-weight: bold;
  font-style: italic;
}
